/**
 * Index Page CSS
 * @copyright Jordan Davila 2018
 */
.black_full_logo {
  background-image: url("../img/logos/logo1.png"); }

.white_full_logo {
  background-image: url("../img/logos/logo4.png"); }

.grey_full_logo {
  background-image: url("../img/logos/logo3.png"); }

.red_full_logo {
  background-image: url("../img/logos/logo2.png"); }

.black_icon_logo {
  background-image: url("../img/logos/icon1.png"); }

.white_icon_logo {
  background-image: url("../img/logos/icon4.png"); }

.grey_icon_logo {
  background-image: url("../img/logos/icon3.png"); }

.red_icon_logo {
  background-image: url("../img/logos/icon2.png"); }

/**
 * Main Html Body Wrappers
 * @updated 01/25/18
 */
html, body {
  width: 100%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #525252;
  letter-spacing: 1px; }

/**
 * Properties
 */
.no_site {
  width: 0vw !important;
  height: 0vh !important; }

.show_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.show_block {
  display: block !important; }

.show_none {
  display: none !important; }

.no_opacity {
  opacity: 0; }

.with_opacity {
  opacity: 1 !important; }

/**
  * Preloader
  */
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }
  .preloader .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 40px; }

/**
 * Main
 */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

#website {
  background: -webkit-gradient(linear, left top, right top, from(#FF5858), to(#E43F48));
  background: -webkit-linear-gradient(left, #FF5858, #E43F48);
  background: -o-linear-gradient(left, #FF5858, #E43F48);
  background: linear-gradient(90deg, #FF5858, #E43F48);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  border-radius: 10px;
  -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3); }

.logo_full_wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo_full_wrap .logo_wrap {
    width: 80px;
    height: 80px;
    background-color: #e43f48;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .logo_full_wrap .logo_wrap .logo {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 40%;
      height: 40%; }
  .logo_full_wrap .logo_text {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-image: url(../img/logos/logo-text.png);
    width: 120px;
    height: 80px;
    margin-left: 15px; }

.login_wrap {
  position: absolute;
  right: 0px;
  top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .login_wrap a {
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    display: inline-block; }
  .login_wrap .login_line {
    height: 1px;
    background-color: #ffffff;
    width: 50px;
    display: inline-block;
    margin-left: 10px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all; }

.login_wrap:hover > .login_line {
  width: 60px; }

.apply_btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #e43f48;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  z-index: 9999;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all; }

#main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all; }
  #main_content h1 {
    font-size: 10vw;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 10px;
    position: relative; }
    #main_content h1 span {
      font-size: 0.15em;
      letter-spacing: 1px;
      font-weight: 400;
      position: absolute;
      top: 0;
      left: -20px; }
  #main_content ul li {
    display: inline-block;
    margin-right: 20px; }
    #main_content ul li a {
      color: #ffffff;
      font-size: 1em;
      font-weight: 400; }
  #main_content p {
    color: #ffffff;
    margin-top: 20px;
    line-height: 30px;
    width: 50%; }

.left_content {
  position: absolute !important;
  left: 8vw;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.gallery_circles {
  position: absolute;
  height: 37vw;
  width: 37vw;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  top: calc(50vh - 19vw);
  left: calc(50vw - 19vw); }
  .gallery_circles .circle {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e43f48;
    border-radius: 500px;
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-animation: circle infinite linear 4s;
    animation: circle infinite linear 4s;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .gallery_circles .selected {
    width: 25vw;
    height: 25vw;
    opacity: 0.7; }
  .gallery_circles .x1 {
    top: 0;
    right: 0;
    -webkit-animation: circle infinite linear 5s;
    animation: circle infinite linear 5s; }
  .gallery_circles .x2 {
    bottom: 30%;
    left: 0;
    width: 15vw;
    height: 15vw;
    -webkit-animation: circle infinite linear 4s;
    animation: circle infinite linear 4s; }
  .gallery_circles .x3 {
    bottom: 10%;
    left: 50%;
    width: 10vw;
    height: 10vw;
    -webkit-animation: circle infinite linear 2s;
    animation: circle infinite linear 2s; }
  .gallery_circles .x4 {
    bottom: 10%;
    left: 20%;
    width: 5vw;
    height: 5vw;
    -webkit-animation: circle infinite linear 2.5s;
    animation: circle infinite linear 2.5s; }
  .gallery_circles .x5 {
    top: 10%;
    left: 30%;
    width: 5vw;
    height: 5vw;
    -webkit-animation: circle infinite linear 3.5s;
    animation: circle infinite linear 3.5s; }
  .gallery_circles .full_circle {
    border-radius: 0;
    -webkit-animation: unset;
    animation: unset;
    width: 100%;
    height: 100%;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

.full_gallery {
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%; }

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg);
    transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);
    transform: rotate(360deg) translateX(15px) rotate(-360deg); } }

@keyframes circle {
  from {
    -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg);
    transform: rotate(0deg) translateX(15px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg);
    transform: rotate(360deg) translateX(15px) rotate(-360deg); } }
